---
import Layout from '@layouts/Layout.astro';

const frontmatter = {
  title: '',
  description: 'Open source career development framework for software engineers.',
};
---

<Layout frontmatter={frontmatter}>
  <h2 class="font-serif">Hello World</h2>
  <p>Just getting things started</p>
</Layout>
