---
import Content from '@components/Content.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout title="" description="Open source career development framework for software engineers.">
  <Content>
    <h1>Welcome to Waypoints</h1>
    <p>This site is under active construction and the content is being refined. Check back soon.</p>
    <p>-- Dan (15 Jan 2025)</p>
  </Content>
</Layout>
