---
import Content from '@components/Content.astro';
import Layout from '@layouts/Layout.astro';

const frontmatter = {
  title: '',
  description: 'Open source career development framework for software engineers.',
};
---

<Layout frontmatter={frontmatter}>
  <Content>
    <h1 class="font-serif">Welcome to Waypoints</h1>
    <p>Just getting things started</p>
  </Content>
</Layout>
