---

---

<div class="">
  <div
    class="prose
    prose-slate
    prose-headings:font-sans
    prose-h1:text-3xl
    prose-h1:font-normal
    prose-h2:text-2xl
    prose-h3:text-xl
    prose-p:font-sans
    prose-p:text-slate-700
    prose-li:font-sans
    prose-li:text-slate-700
    prose-a:text-red-700
    prose-a:no-underline
    prose-a:font-medium
    hover:prose-a:text-red-500
    hover:prose-a:underline
    prose-strong:text-slate-800
    prose-strong:font-semibold
    prose-table:text-sm
    prose-th:bg-slate-50
    prose-th:text-slate-600
    prose-td:text-slate-700
    prose-img:rounded-lg
    prose-hr:border-slate-200
    prose-img:border-4
    prose-img:border-slate-300
    prose-code:font-normal
    mx-auto"
  >
    <slot />
  </div>
</div>
