---

---

<footer class="footer text-center py-12 max-w-xl mx-auto">
  <div class="footer-content">
    <div class="text-xs text-stone-600">
      <p>
        ©{new Date().getUTCFullYear()}
        <a href="https://github.com/dpup/waypoints" class="underline">Waypoints Authors</a>. This
        work is licensed under a
        <a href="http://creativecommons.org/licenses/by/4.0/" class="underline"> CC by 4.0</a>
        <img
          class="size-3 inline"
          src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1"
          alt=""
        />
        <img
          class="size-3 inline"
          src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1"
          alt=""
        />
      </p>.
    </div>
  </div>
</footer>
